extends ../layout

block above-content

block header 
  header.h2
    h2 Check in

block content
  .section.users.intro.slanted
    .content.offset-by-two.eight.columns
      .row
        .twelve.columns
          form(method='POST')

            table.users.table
              thead
                  th Voornaam
                  th Achternaam
                  th Email
                  th Ticket
                  th Vereniging
                  th Aanwezig
              tbody
                tr
                  td=user.firstname
                  td=user.surname
                  td=user.email 
                  td=user.ticket
                  td=verenigingen[user.vereniging].name
                  td
                    input#aanwezig(type='checkbox',name='aanwezig',checked=user.aanwezig?'checked':undefined)
                    label(for='aanwezig', style='margin-top: -5px;') &nbsp;

            a.button(href='/users') Terug
            button.button.special(type='submit', style='float:right') Sla op
