extends ../layout

block content
  section.main.style1.talks
    .container
      .row(class='0%')
        h2= t('talks.header')
      
      if speakers.length === 0
        p= t('talks.nospeakers')  
      else
      - for (var i = 0, x = 2; i < speakers.length; i += x)
        .row(class='spaced 200%')
         - for (var j = 0; j < x; j++)
          if speaker = speakers[i+j]
            .6u(class='12u$(medium)')
              span.image.right
                img.avatar(src=speaker.image)

              header
                h3= speaker.name
                p= speaker.company
              p.small= t('speakers.' + hypenate(speaker.name))
              a.tile(href='/speakers/' + hypenate(speaker.talk))
                span
                span
                  b= speaker.talk
  

      h2= t('talks.presenter')

      if presenters.length === 0
          p= t('talks.nopresenters')  
        else
        - for (var i = 0, x = 2; i < presenters.length; i += x)
          .row(class='spaced 200%')
           - for (var j = 0; j < x; j++)
            if presenter = presenters[i+j]
              .6u(class='12u$(medium)')
                span.image.left
                  img.avatar(src=presenter.image)

                header
                  h3= presenter.name
                p.small= t('presenters.' + hypenate(presenter.name))