mixin ticket(ticket)
  if ticket
    .ticket
      div.content
        h2= t('ticket.header')
        != t('ticket.text', { postProcess: 'jade' })
        div.block
          label= t('ticket.activationcode')
          strong #{ticket._id}

        if ticket.ownedBy
          div.block
            label= t('ticket.visitor')
            strong= ucfirst(user.firstname) + ' ' + user.surname

        
        div.footer
          span.time= t('ticket.time')
          span= t('ticket.date')

        img(src="/tickets/#{ticket._id}/barcode", width=220, height=25)

      div.aside
        div

      br(clear='all')

mixin activationcode(ticket)
  if ticket
    .ticket.ophaal
      div.content
        h2= t('activationcode.header')
        != t('activationcode.text', { postProcess: 'jade' })

        div.footer
          span.time= ticket._id

      div.aside
        div

      br(clear='all')

extends layout
block content
  - for (var i = 0, x = 10; i < tickets.length; i += x)
    div
     - for (var j = 0; j < x; j++)
      +activationcode(tickets[i+j])
    footer
