extends layout
block above-content

block header 
  .inner
    img(width='250', src='/images/logo.png')
    b.dateBlock 23 november
    p= t('home.subheader')
    ul.actions
      li
        if new Date(ticketSaleStarts).getTime() < Date.now()
          a.button.special.scrolly(href='/register')= t('home.activateBtn')
        else 
          a.button.scrolly(href='#one')= t('home.discoverBtn')


block content
  // Symposium
  section#one.main.style1
    .container
      .row(class='150%')
        .7u(class='12u$(medium)')
          header.major
            h2= t('home.symposium.header')
            br
            h3= t('home.symposium.subheader')
          p= t('home.symposium.text')
        div(class='5u$ 12u$(medium) important(medium)')
          span.image.fit
            img(src='/images/logo2.png', alt='')
  // Talks
  section#two.main.style2
    .container
      .row(class='150%')
        .5u(class='12u$(medium)')
          span.image.fit
            img(src='/images/sprekers.jpg', alt='')
        div(class='7u$ 12u$(medium)')
          header.major
            h2= t('home.talks.header')
            br
            h3
              | — 
              != t('home.talks.quote', { postProcess: "jade" })
          != t('home.talks.text', { postProcess: "jade" }) 
  // Organisation
  section#three.main.style1
    .container
      .row(class='150%')
        .7u(class='12u$(medium)')
          header.major
            h2= t('home.organisation.header')
            br
            h3= t('home.organisation.subheader')
          != t('home.organisation.text', { postProcess: "jade"})
        div(class='5u$ 12u$(medium) important(medium)')
          span.image.fit
            img(src='/images/evoluon.jpg', alt='')
          span.image.fit
            img(src='/images/zaal.jpg', alt='')

//- Five
  section#five.main.style1
    .container
      header.major.special
        h2 Elements
      section
        h4 Text
        p
          | This is 
          b bold
          |  and this is 
          strong strong
          | . This is 
          i italic
          |  and this is 
          em emphasized
          | .
          |             This is 
          sup superscript
          |  text and this is 
          sub subscript
          |  text.
          |             This is 
          u underlined
          |  and this is code: 
          code for (;;) { ... }
          | . Finally, 
          a(href='#') this is a link
          | .
        hr
        header
          h4 Heading with a Subtitle
          p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
        p
          | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
        header
          h5 Heading with a Subtitle
          p Lorem ipsum dolor sit amet nullam id egestas urna aliquam
        p
          | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
        hr
        h2 Heading Level 2
        h3 Heading Level 3
        h4 Heading Level 4
        h5 Heading Level 5
        h6 Heading Level 6
        hr
        h5 Blockquote
        blockquote
          | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
        h5 Preformatted
        pre.
      section
        h4 Lists
        .row
          .6u(class='12u$(medium)')
            h5 Unordered
            ul
              li Dolor pulvinar etiam.
              li Sagittis adipiscing.
              li Felis enim feugiat.
            h5 Alternate
            ul.alt
              li Dolor pulvinar etiam.
              li Sagittis adipiscing.
              li Felis enim feugiat.
          div(class='6u$ 12u$(medium)')
            h5 Ordered
            ol
              li Dolor pulvinar etiam.
              li Etiam vel felis viverra.
              li Felis enim feugiat.
              li Dolor pulvinar etiam.
              li Etiam vel felis lorem.
              li Felis enim et feugiat.
            h5 Icons
            ul.icons
              li
                a.icon.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.fa-facebook(href='#')
                  span.label Facebook
              li
                a.icon.fa-instagram(href='#')
                  span.label Instagram
              li
                a.icon.fa-github(href='#')
                  span.label Github
        h5 Actions
        .row
          .6u(class='12u$(medium)')
            ul.actions
              li
                a.button.special(href='#') Default
              li
                a.button(href='#') Default
            ul.actions.small
              li
                a.button.special.small(href='#') Small
              li
                a.button.small(href='#') Small
            ul.actions.vertical
              li
                a.button.special(href='#') Default
              li
                a.button(href='#') Default
            ul.actions.vertical.small
              li
                a.button.special.small(href='#') Small
              li
                a.button.small(href='#') Small
          .6u(class='12u$(medium)')
            ul.actions.vertical
              li
                a.button.special.fit(href='#') Default
              li
                a.button.fit(href='#') Default
            ul.actions.vertical.small
              li
                a.button.special.small.fit(href='#') Small
              li
                a.button.small.fit(href='#') Small
      section
        h4 Table
        h5 Default
        .table-wrapper
          table
            thead
              tr
                th Name
                th Description
                th Price
            tbody
              tr
                td Item One
                td Ante turpis integer aliquet porttitor.
                td 29.99
              tr
                td Item Two
                td Vis ac commodo adipiscing arcu aliquet.
                td 19.99
              tr
                td Item Three
                td  Morbi faucibus arcu accumsan lorem.
                td 29.99
              tr
                td Item Four
                td Vitae integer tempus condimentum.
                td 19.99
              tr
                td Item Five
                td Ante turpis integer aliquet porttitor.
                td 29.99
            tfoot
              tr
                td(colspan='2')
                td 100.00
        h5 Alternate
        .table-wrapper
          table.alt
            thead
              tr
                th Name
                th Description
                th Price
            tbody
              tr
                td Item One
                td Ante turpis integer aliquet porttitor.
                td 29.99
              tr
                td Item Two
                td Vis ac commodo adipiscing arcu aliquet.
                td 19.99
              tr
                td Item Three
                td  Morbi faucibus arcu accumsan lorem.
                td 29.99
              tr
                td Item Four
                td Vitae integer tempus condimentum.
                td 19.99
              tr
                td Item Five
                td Ante turpis integer aliquet porttitor.
                td 29.99
            tfoot
              tr
                td(colspan='2')
                td 100.00
      section
        h4 Buttons
        ul.actions
          li
            a.button.special(href='#') Special
          li
            a.button(href='#') Default
        ul.actions
          li
            a.button.big(href='#') Big
          li
            a.button(href='#') Default
          li
            a.button.small(href='#') Small
        ul.actions.fit
          li
            a.button.fit(href='#') Fit
          li
            a.button.special.fit(href='#') Fit
          li
            a.button.fit(href='#') Fit
        ul.actions.fit.small
          li
            a.button.special.fit.small(href='#') Fit + Small
          li
            a.button.fit.small(href='#') Fit + Small
          li
            a.button.special.fit.small(href='#') Fit + Small
        ul.actions
          li
            a.button.special.icon.fa-download(href='#') Icon
          li
            a.button.icon.fa-download(href='#') Icon
        ul.actions
          li
            span.button.special.disabled Disabled
          li
            span.button.disabled Disabled
      section
        h4 Form
        form(method='post', action='#')
          .row.uniform(class='50%')
            .6u(class='12u$(xsmall)')
              input#demo-name(type='text', name='demo-name', value='', placeholder='Name')
            div(class='6u$ 12u$(xsmall)')
              input#demo-email(type='email', name='demo-email', value='', placeholder='Email')
            div(class='12u$')
              .select-wrapper
                select#demo-category(name='demo-category')
                  option(value='') - Category -
                  option(value='1') Manufacturing
                  option(value='1') Shipping
                  option(value='1') Administration
                  option(value='1') Human Resources
            .4u(class='12u$(small)')
              input#demo-priority-low(type='radio', name='demo-priority', checked='')
              label(for='demo-priority-low') Low
            .4u(class='12u$(small)')
              input#demo-priority-normal(type='radio', name='demo-priority')
              label(for='demo-priority-normal') Normal
            div(class='4u$ 12u$(small)')
              input#demo-priority-high(type='radio', name='demo-priority')
              label(for='demo-priority-high') High
            .6u(class='12u$(small)')
              input#demo-copy(type='checkbox', name='demo-copy')
              label(for='demo-copy') Email me a copy
            div(class='6u$ 12u$(small)')
              input#demo-human(type='checkbox', name='demo-human', checked='')
              label(for='demo-human') Not a robot
            div(class='12u$')
              textarea#demo-message(name='demo-message', placeholder='Enter your message', rows='6')
            div(class='12u$')
              ul.actions
                li
                  input.special(type='submit', value='Send Message')
                li
                  input(type='reset', value='Reset')
      section
        h4 Image
        h5 Fit
        .box.alt
          .row.uniform(class='50%')
            .12u
              span.image.fit
                img(src='/images/pic06.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic02.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic03.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic04.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic03.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic04.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic02.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic04.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic02.jpg', alt='')
            .4u
              span.image.fit
                img(src='/images/pic03.jpg', alt='')
        h5 Left & Right
        p
          span.image.left
            img(src='/images/pic05.jpg', alt='')
          | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
        p
          span.image.right
            img(src='/images/pic05.jpg', alt='')
          | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
