doctype html

mixin navEl(name, desiredPath)
  li(class=path==desiredPath?'current':undefined)
    a(href='/' + i18n.lng() + desiredPath)= name

html(lang=locale)
  head
    title AutonomIT - The Computer Science symposium about autonomous systems in Eindhoven
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(property='og:image', content='/images/logo.png')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='The computer science symposium about autonomous systems')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700', rel='stylesheet', type='text/css')

    noscript
      link(rel='stylesheet', href='/css/skel.css')
      link(rel='stylesheet', href='/css/style-xlarge.css')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/flag-icon.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    
    //if lte IE 9
      link(rel='stylesheet', href='/css/ie/v9.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie/v8.css')
  body
    // Header
    section#header(class=path!='/'?'small':undefined)
      nav.alt.reveal
        a.logo(href='/')
        ul
          +navEl(t('home.header'), '/')
          
          li(class=path=='/programme'||path=='/speakers'?'current':undefined).opener
            a.icon.fa-angle-down= t('menu.information')
            ul.dropdown-menu
              +navEl(t('programme.header'),    '/programme')
              +navEl(t('talks.header'),        '/speakers')
              +navEl(t('organisation.header'), '/organisation')
              +navEl(t('busses.header'),       '/busses')
          li(class=path=='/partners'?'current':undefined).opener
            a.icon.fa-angle-down= t('menu.sponsorship')
            ul.dropdown-menu
              if i18n.lng() == 'nl'
                +navEl('Topicus',              '/partners/topicus')
                +navEl('Rijksoverheid',        '/partners/rijksoverheid')
              +navEl(t('partners.header'),     '/partners')

          if user
            li.opener
              a.icon.fa-angle-down= user.email
              ul.dropdown-menu
                if user.admin
                  +navEl('Gebruikers',        '/users')
                  +navEl('Aanwezigen',        '/aanwezigen')
                  +navEl('Mailinglijst',      '/mailing')
                  li
                    a(href='/' + i18n.lng() + '/tickets/', target='_blank') Tickets
                  +navEl('Vertalingen',       '/../translate')
                  li.separator

                +navEl(t('profile.header'),    '/profile')
                li
                  a(href='/' + i18n.lng() +    '/tickets/' + user.ticket, target='_blank')= t('menu.ticket')
                +navEl(t('menu.logout'),       '/logout')
          else
            +navEl(t('login.header'),          '/profile')
          li
            if (i18n.lng() == 'nl')
              a(href='/en'+path).flag
                span.flag-icon.flag-icon-squared.flag-icon-gb
            else if (i18n.lng() == 'en')
              a(href='/nl'+path).flag
                span.flag-icon.flag-icon-squared.flag-icon-nl

        br(clear='all')
      div#hamburger
        &#xf0c9;

      block header
        .inner
          p The computer science symposium about autonomous systems

    block above-content
      .container
        if messages.error
          each msg in messages.error
            .alert.alert-danger.alert-dismissible
              button(type='button', class='close', data-dismiss='alert') &times;
              div= msg
        if messages.info
          each msg in messages.info
            .alert.alert-info.alert-dismissible
              button(type='button', class='close', data-dismiss='alert') &times;
              div= msg
        if messages.success
          each msg in messages.success
            .alert.alert-success.alert-dismissible
              button(type='button', class='close', data-dismiss='alert') &times;
              div= msg

    block content
  
    // Footer
    section#footer
      ul.icons
        li
          a.icon.alt.fa-twitter(target='_blank', href='https://twitter.com/autonomit')
            span.label Twitter
        li
          a.icon.alt.fa-facebook(target='_blank', href='https://www.facebook.com/StichtingNationaalinformaticaCongres')
            span.label Facebook
        // <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        li
          a.icon.alt.fa-github(target='_blank', href='https://github.com/iamDecode/AutonomIT')
            span.label GitHub
        li
          a.icon.alt.fa-envelope(href='mailto:secretaris@autonom.it')
            span.label Email
      ul.copyright
        li
          | © AutonomIT 2015

    //if lte IE 8
      script(src='/css/ie/html5shiv.js')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.scrolly.min.js')
    script(src='/js/jquery.droptron.min.js')
    script(src='/js/jquery.scrollgress.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/init.js')
