doctype html
html(lang=locale)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, user-scalable=no')
  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only=__('Navigatie activeren')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') AnonymIT
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/')=__('Home')
            if user
              li
                a(href='/logout')=__('Uitloggen')
            else
              li
                a(href='/login')=__('Inloggen')
              li
                a(href='/signup')=__('Registreren')
          ul.nav.navbar-nav.navbar-right
            each l in locales
              li(class=locale==l?'active':undefined)
                a(, href='?locale=#{l}' hreflang=l)
                  img(src='/images/flags/#{l}.png')

    .container
      if messages.error
        .alert.alert-danger
          div= messages.error
      if messages.info
        .alert.alert-info
          div= messages.info
      if messages.success
        .alert.alert-success
          div= messages.success
      block content

