doctype html

mixin navEl(name, desiredPath)
  li(class=path==desiredPath?'active':undefined)
    a(href=desiredPath)= name

html(lang=locale)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, user-scalable=no')
  body
    section.wrapper
      .navbar.navbar-inverse.navbar-static-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only=__('Navigatie activeren')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/')
              img#logo.pull-left(src='/images/logo.png')
            a.navbar-brand(href='/') AnonymIT
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              +navEl('Home', '/')
              +navEl(__('Locatie'),'/location')
              +navEl(__('Partners'),'/partners')
              +navEl(__('Organisatie'),'/organisation')
              +navEl(__('Contact'), '/contact')
            ul.nav.navbar-nav.navbar-right

              +navEl(__('Mijn profiel'),'/profile')

              each l in locales
                li(class=locale==l?'active':undefined)
                  a(, href='?locale=#{l}' hreflang=l)
                    img(src='/images/flags/#{l}.png')
      block above-content
      .container
        if messages.error
          each msg in messages.error
            .alert.alert-danger.alert-dismissible
              button(type='button', class='close', data-dismiss='alert') &times;
              div= msg
        if messages.info
          each msg in messages.info
            .alert.alert-info.alert-dismissible
              button(type='button', class='close', data-dismiss='alert') &times;
              div= msg
        if messages.success
          each msg in messages.success
            .alert.alert-success.alert-dismissible
              button(type='button', class='close', data-dismiss='alert') &times;
              div= msg
        block content
      .push
    footer.page
      .container
        a.col-md-offset-1.topicus-banner(href='//www.topicus.nl/werken')
          img(src='/images/banner_topicus_800x120.gif' alt='Topicus')
        p
          :markdown
            Copyright 2014-2015 AnonymIT | AnonymIT is onderdeel van [SnIC](http://www.snic.nl)
