extends layout

block content
  form(method='POST')
    legend=__('Inloggen')
    .form-group
      label(for='email')= __('E-mail')
      input.form-control(type='text', name='email', autofocus)
    .form-group
      label(for='password')=__('Wachtwoord')
      input.form-control(type='password', name='password')
    button.btn.btn-primary(type='submit')= __('Inloggen')
    a.btn.btn-link(href='/forgot')=__('Wachtwoord vergeten?')