extends layout
block content
  h1= __('Organisatie')
  h2= __('De Commissie')
  p
    :i18n
      Dit jaar hebben 7 actieve leden van Studievereniging Sticky in Utrecht de eer gekregen om het SNiC-congres van najaar 2014 te organiseren.

  p
    :i18n
      De commissie, bestaande uit zowel informatica- als informatiekundestudenten bestaat uit:
    ul
      li=__('Sanne Maasakkers, voorzitter')
      li=__('Dennis van de Coevering, secretaris')
      li=__('Tom Wassenberg, penningmeester')
      li=__('Rob de Wit, commissaris extern')
      li=__('Laurens Duijvesteijn, commissaris sprekers')
      li=__('Arian van Putten, commissaris promotie')
      li=__('Samantha van Dalen, commissaris logistiek')

  h2=__('De Organisatie')
  p
    :i18n
      De Stichting Nationaal informatica Congres (SNiC) is in december 2004 opgericht. De stichting heeft ten doel het stimuleren van de belangstelling voor de kennis van de informatie- en communicatietechnologie, alsmede het bedrijfskundige aspect en haar toepassingen. Dit hoopt zij te bereiken met de organisatie van een jaarlijks terugkerend landelijk congres met een informatica gerelateerd onderwerp.