extends layout

block above-content

block header
  header.text
    h2 Profile

block content
  section.profile
    h2= ucfirst(user.firstname) + ' ' + user.surname +' ('+ verenigingen[user.vereniging].name +')'

    br(clear='all')

    form.form.form-profile#settings(method='post')
      h3 Congress
      if isbus_quickhack
        .checkbox
          label(for='bus')
            input#bus(type='checkbox',name='bus',checked=user.bus?'checked':undefined)
            | I would like to use the arranged bus at my study association
   
      .form-group
        label(for='lezing1') Preference talk in first parallel session
        div.select-wrapper
          select.form-control(name='lezing1')
            option(value='', selected=!user.lezing1?'selected':undefined) No preference
            each val in speakerids.session1
              - var speaker = speakers.filter(function(doc){return doc.id == val})[0]
              option(value=val, selected=user.lezing1==val?'selected':undefined)= speaker.name + ' (' + speaker.company + ') - ' + speaker.talk 
              
      .form-group
        label(for='lezing2') Preference talk in second parallel session
        div.select-wrapper
          select.form-control(name='lezing2')
            option(value='', selected) No preference
            each val in speakerids.session2
              - var speaker = speakers.filter(function(doc){return doc.id == val})[0]
              option(value=val, selected=user.lezing2==val?'selected':undefined)= speaker.name + ' (' + speaker.company + ') - ' + speaker.talk 

      .form-group
        label(for='lezing3') Preference talk in second parallel session
        div.select-wrapper
          select.form-control(name='lezing3')
            option(value='', selected) No preference
            each val in speakerids.session3
              - var speaker = speakers.filter(function(doc){return doc.id == val})[0]
              option(value=val, selected=user.lezing3==val?'selected':undefined)= speaker.name + ' (' + speaker.company + ') - ' + speaker.talk 

      h3 Diets
      .form-group
        .checkbox
          label(for='vegetarian')
            input#vegetarian(type='checkbox',name='vegetarian', checked=user.vegetarian? "checked": undefined)
            | I am a vegetarian

      .form-group
        label(for='specialNeeds') Other remarks (e.g. allergies)
        input.form-control(type='text', name="specialNeeds", value=user.specialNeeds)
      
      h3 Connect better
      | This year we want are introducing some new features to the SNiC so you can connect to companies and fellow students in a better and more interesting way for you. Read more about this 
      a(href='/connectbetter') here
      
      .privacy We only share information that <b>you</b> want to share. 

      | By leaving the following boxes empty, we will not share that information

      .form-group
        label(for='linkedIn') LinkedIn profile URL
        input.form-control(type='text', name="linkedin", value=decodeURIComponent(user.linkedin))
      .form-group
        label(for='linkedIn') Phonenumber
        input.form-control(type='text', name="phonenumber", value=decodeURIComponent(user.phonenumber))
      .form-group
        .checkbox
          label(for='shareEmail')
            input#shareEmail(type='checkbox',name='shareEmail', checked=user.shareEmail? "checked": undefined)
            | I want to share my email-address
      p Get matched with companies by filling in your interests!
      .form-group
        .interests
          each val in matchingterms
            - var checked = user.matchingterms.indexOf(val) >= 0;
            .interest
              .checkbox
                label(for=val)
                  input(id=val type='checkbox',name=val, checked=checked? "checked": undefined) 
                  = val

      button.button.special(type='submit') Save settings
      

