extends layout

block content
  h1=__('Profiel')
  form#settings
    .form-group
      .checkbox
        label
          input(type='checkbox',name='vegetarian', checked=user.vegetarian? "checked": undefined)
          | #{__('Ik eet vegetarisch')}
    .form-group
      label(for='specialNeeds')= __('Speciale opmerkingen (e.g. allergie)')
      input.form-control(type='text',, name="specialNeeds", value=user.speciallNeeds)
  a.btn.btn-primary(href='/tickets/'+ user.ticket)=__('Ticket printen')
  div  
    a.btn(href='/logout')=__('Uitloggen')
