extends layout
block title
  = t('profile.header')

block content
  section.main.style1.profile
    .container
      .row(class='0%')
        header
          h2= t('profile.header')
          p= ucfirst(user.firstname) + ' ' + user.surname +' ('+ verenigingen[user.vereniging].name +')'

        br(clear='all')

        form#settings(method='post')
          .form-group
            .checkbox
              input#vegetarian(type='checkbox',name='vegetarian', checked=user.vegetarian? "checked": undefined)
              label(for='vegetarian')= t('fields.vegetarian')
          if isbus_quickhack
            .form-group
              .checkbox
                input#bus(type='checkbox',name='bus',checked=user.bus?'checked':undefined)
                label(for='bus')= t('fields.bus')
       
          .form-group
            label(for='lezing1')= t('fields.session1')
            div.select-wrapper
              select.form-control(name='lezing1')
                option(value='', selected=!user.lezing1?'selected':undefined)= t('fields.nopreference')
                option(value='jan-smits', selected=user.lezing1=='jan-smits'?'selected':undefined) Jan Smits (TU/e) - Sensored data: is law stopping innovation?
                option(value='laurenz-eveleens', selected=user.lezing1=='laurenz-eveleens'?'selected':undefined) Laurenz Eveleens (Ortec) - Optimize your world
          .form-group
            label(for='lezing2')= t('fields.session2')
            div.select-wrapper
              select.form-control(name='lezing2')
                option(value='', selected)= t('fields.nopreference')
                option(value='mark-bakker', selected=user.lezing2=='mark-bakker'?'selected':undefined) Mark Bakker (SAS) - Machine learning
                option(value='emile-nijssen', selected=user.lezing2=='emile-nijssen'?'selected':undefined) Emile Nijssen (Homey) - From idea to autonomous product
          .form-group
            label(for='lezing3')= t('fields.session3')
            div.select-wrapper
              select.form-control(name='lezing3')
                option(value='', selected=!user.lezing3?'selected':undefined)= t('fields.nopreference')
                option(value='gert-jan-van-rootselaar', selected=user.lezing3=='gert-jan-van-rootselaar'?'selected':undefined) Gert-Jan van Rootselaar (AME) - Where am I? Make a decision!
                option(value='martijn-dashorst', selected=user.lezing3=='martijn-dashorst'?'selected':undefined)  Martijn Dashorst (Topicus) - Quis automatiet ipsos automates?
          .form-group
            label(for='specialNeeds')= t('fields.allergies')
            input.form-control(type='text', name="specialNeeds", value=user.specialNeeds)
            button.button.special(type='submit')= t('profile.saveBtn')
