extends layout

block above-content

block header 
  header.hero.register
    h2 Register

block content
  .section.intro.slanted
    .content
      .register
        p You can buy a ticket with an activation code at your study association. You can print out your ticket after you've registered. Preferences for lectures, diets and other remarks can be changed after the registration has been completed. 

      if new Date(ticketSaleStarts).getTime() < Date.now()
        form.form-register(method='POST')
          legend(hidden) Registration
          .form-group.center
            label(for='code') Ticketcode
            input.form-control( type='text', name='code', autofocus, required, value=body.code)
          .form-group
            label(for='firstname') First name
            input.form-control( type='text', name='firstname', required, value=body.firstname)
          .form-group
            label(for='surname') Surname
            input.form-control( type='text', name='surname', required, value=body.surname)
          .form-group
            label(for='vereniging') Association
            .select-wrapper
              select.form-control(id='vereniging', required, name='vereniging')
                option(value='', selected) Select...
                each vereniging, shortName in verenigingen
                  option(value=shortName, selected = body.vereniging==shortName ? 'selected' : undefined)=vereniging.name
          .form-group(style='display:none')
              input#bus(type='checkbox', name='bus', checked=body.bus?'checked': undefined)
              label(for='bus') I would like to use the arranged bus at my study association'
          .form-group
              input#vegetarian(type='checkbox',name='vegetarian', checked=body.vegetarian?'checked':undefined)
              label(for='vegetarian') I am a vegetarian
          .form-group
            label(for='lezing1') Preference talk in first parallel session
            .select-wrapper
              select.form-control(name='lezing1')
                option(value='', selected) No preference
                option(value='jan-smits') Jan Smits (TU/e) - Sensored data: is law stopping innovation?
                option(value='laurenz-eveleens') Laurenz Eveleens (Ortec) - Optimize your world
          .form-group
            label(for='lezing2') Preference talk in second parallel session
            .select-wrapper
              select.form-control(name='lezing2')
                option(value='', selected) No preference
                option(value='mark-bakker') Mark Bakker (SAS) - Applications of machine learning
                option(value='emile-nijssen') Emile Nijssen (Homey) - From idea to autonomous product
          .form-group
            label(for='lezing3') Preference talk in third parallel session
            .select-wrapper
              select.form-control(name='lezing3')
                option(value='', selected) No preference
                option(value='gert-jan-van-rootselaar') Gert-Jan van Rootselaar (AME) - Where am I? Make a decision!
                option(value='martijn-dashorst')  Martijn Dashorst (Topicus) - Quis automatiet ipsos automates?
          .form-group
            label(for='specialNeeds') Other remarks (e.g. allergies)
            input.form-control(type='text', name="specialNeeds", value=body.specialNeeds)
          .form-group
            label(for='email') Email
            input.form-control( type='email', name='email', required, value=body.email)
          .form-group
            label(for='password') Password
            input.form-control(required. type='password', required, name='password')
          .form-group
            label(for='confirm') Confirm password
            input.form-control( type='password', required, name='confirm')
          .form-group
              input#subscribe(type='checkbox',name='subscribe', checked='checked')
              label(for='subscribe') Subscribe for the mailinglist. (You can deregister at any moment)
          button.button.special(type='submit') Register now

        script.
          document.addEventListener("DOMContentLoaded", function(event) { 
            var verenigingen = !{JSON.stringify(verenigingen)};

            document.getElementById("#vereniging").addEventListener('change', function(){
                var vereniging = document.getElementById("#vereniging").value;
                if (verenigingen[vereniging] && verenigingen[vereniging].bus) {
                  document.getElementById("#bus").parentNode.show();
                } else {
                  document.getElementById("#bus").parentNode.hide();
                }
              });
              document.getElementById("#vereniging").change();
            });
          });
      else
        .alert.alert-info
          .icon.fa.fa-info

          if i18n.lng() == 'nl'
            - months = ['januari', 'februari', 'maart', 'april', 'mei','juni','juli','augustus', 'september','november','december'];
          else
            - months = ['january', 'february', 'march', 'april', 'may','june','july','august', 'september','november','december'];

          div= 'You can activate your ticket here from ' +  {date: new Date(ticketSaleStarts).getDate() + ' ' + months[new Date(ticketSaleStarts).getMonth()] } + ' onwards!'
