extends layout
block title
  | Registeren
block content
  section.main.style1
    .container
      .row(class='0%')
        h2 Registreren
        p.
            Bij je studievereniging kan je een ticketactivatiecode kopen.
        p.
            Het blaadje waar je Ticketactivatiecode op staat is overigens ook je ticket na activatie.
            Raak je dit blaadje onverhoopt kwijt, dan kun je deze altijd opnieuw uitprinten vanaf "Mijn Profiel",
            nadat je geregistreerd hebt.

        p.
            Ook of je wel of niet meewilt met de bus van jou studievereniging kun je later nog veranderen op "mijn Profiel".

        br(clear='all')

        .u8.center(class='12u$(medium)')
          if opened
            form#signup.col-md-6.col-md-offset-3(method='POST')
              legend(hidden) Registreren
              .form-group
                label(for='code') Ticketactivatiecode (verkrijgbaar bij je studievereniging)
                input.form-control( type='text', name='code', autofocus, required, value=body.code)
              .form-group
                label(for='firstname') Voornaam
                input.form-control( type='text', name='firstname', required, value=body.firstname)
              .form-group
                label(for='surname') Achternaam
                input.form-control( type='text', name='surname', required, value=body.surname)
              .form-group
                label(for='vereniging') Studievereniging
                .select-wrapper
                  select.form-control(id='vereniging', required, name='vereniging')
                    option(value='', selected) Selecteer  ...
                    each vereniging, shortName in verenigingen
                      option(value=shortName, selected = body.vereniging==shortName ? 'selected' : undefined)=vereniging.name + (vereniging.bus ? ' - ' + 'Busreis mogelijk' : '')
              .form-group
                  input#bus(type='checkbox', name='bus', checked=body.bus?'checked': undefined)
                  label(for='bus') Ik wil met de touringbus mee die vanaf mijn studievereniging naar het congres rijdt.
              .form-group
                  input#vegetarian(type='checkbox',name='vegetarian', checked=body.vegetarian?'checked':undefined)
                  label(for='vegetarian') Ik eet vegetarisch
              .form-group
                label(for='lezing1') Voorkeurlezing eerste parallelle sessie
                .select-wrapper
                  select.form-control(name='lezing1')
                    option(value='', selected) Geen voorkeur
                    option(value='eric') Polymorfe Pseudonimisering: een basis voor een derde generatie eID stelsel?
                    option(value='thomas') Beveiliging persoonsgegevens bij het PEBKAC-beveiligingsgat
              .form-group
                label(for='lezing2') Voorkeurlezing tweede parallelle sessie 
                .select-wrapper
                  select.form-control(name='lezing2')
                    option(value='', selected) Geen voorkeur
                    option(value='michiel') Terug naar de tekentafel: ARPA2.net
                    option(value='harm') SBox - Tor-enabled WiFi router
              .form-group
                label(for='lezing3') Voorkeurlezing derde parallelle sessie
                .select-wrapper
                  select.form-control(name='lezing3')
                    option(value='', selected) Geen voorkeur
                    option(value='johan') Online video streamen met anonimiteit
                    option(value='roel')  Rabobank en Cryptocurrencies, met open vizier?
              .form-group
                label(for='specialNeeds') Speciale opmerkingen (e.g. allergie)
                input.form-control(type='text', name="specialNeeds", value=body.specialNeeds)
              .form-group
                label(for='email') E-mail
                input.form-control( type='email', name='email', required, value=body.email)
              .form-group
                label(for='password') Wachtwoord
                input.form-control(required. type='password', required, name='password')
              .form-group
                label(for='confirm') Bevestig wachtwoord
                input.form-control( type='password', required, name='confirm')
              .form-group
                  input#subscribe(type='checkbox',name='subscribe', checked='checked')
                  label(for='subscribe')
                    | Meld je aan voor de mailinglist. (je kan je op elk moment hier weer voor afmelden)
              button.button.special(type='submit') Registreren


            script.
              var verenigingen = !{JSON.stringify(verenigingen)}
              function setIt() {
                if (verenigingen[$('#vereniging').val()] && verenigingen[$('#vereniging').val()].bus) {
                  $('#bus').hide();
                } else {
                  $('#bus').show();  
                }
              }
              setIt();
              $('#vereniging').change(setIt);
          else
            .alert.alert-info
              .icon.fa.fa-info
              div Tickets kunnen hier vanaf 1 oktober geactiveerd worden!

