extends layout

block content
  h1=__('Registreren')
  p
    :i18n
      Bij je studievereniging kan je een ticketactivatiecode kopen.
  p
    :i18n
      Het blaadje waar je Ticketactivatiecode op staat is overigens ook je ticket na activatie.
      Raak je dit blaadje onverhoopt kwijt, dan kun je deze altijd opnieuw uitprinten vanaf "Mijn Profiel",
      nadat je geregistreerd hebt.

  form#signup.col-md-6.col-md-offset-3(method='POST')
    legend(hidden)=__('Registreren')
    .form-group
      label(for='code')= __('Ticketactivatiecode (verkrijgbaar bij je studievereniging)')
      input.form-control( type='text', name='code', autofocus, required, value=body.code)
    .form-group
      label(for='firstname')=__('Voornaam')
      input.form-control( type='text', name='firstname', required, value=body.firstname)
    .form-group
      label(for='surname')=__('Achternaam')
      input.form-control( type='text', name='surname', required, value=body.surname)
    .form-group
      label(for='vereniging')=__('Studievereniging')
      select.form-control(id='vereniging', required, name='vereniging')
        option(value='')=__('Selecteer  ...')
        each vereniging, shortName in verenigingen
          option(value=shortName, selected = body.vereniging=shortName ? 'selected' : undefined)=vereniging.name + (vereniging.bus ? ' - ' + __('Busreis mogelijk') : '')
    .form-group
      .checkbox
        label
          input#bus(type='checkbox',name='bus', checked=body.bus?'checked': undefined)
          | #{__('Ik wil met de touringbus mee die vanaf mijn studievereniging naar het congres rijdt.')}
    .form-group
      .checkbox
        label
          input(type='checkbox',name='vegetarian', checked=body.vegetarian?'checked':undefined)
          | #{__('Ik eet vegetarisch')}
      .form-group
      label(for='specialNeeds')= __('Speciale opmerkingen (e.g. allergie)')
      input.form-control(type='text', name="specialNeeds", value=body.specialNeeds)
    .form-group
      label(for='email')= __('E-mail')
      input.form-control( type='email', name='email', required, value=body.email)
    .form-group
      label(for='password')= __('Wachtwoord')
      input.form-control(required. type='password', required, name='password')
    .form-group
      label(for='confirm')= __('Bevestig wachtwoord')
      input.form-control( type='password', required, name='confirm')
    .form-group
      .checkbox
        label
          input(type='checkbox',name='subscribe', checked=(!body.subscribe)?undefined:checked)
          | #{__('Meld je aan voor de mailinglist. (je kan je op elk moment hier weer voor afmelden)')}
    button.btn.btn-primary(type='submit')= __('Registreren')

  script.
    var verenigingen = !{JSON.stringify(verenigingen)}
    function setIt() {
      if (verenigingen[$('#vereniging').val()].bus) {
        $('#bus').prop('disabled', false);
      } else {
        $('#bus').prop('disabled', true);     
      }
    }
    setIt();
    $('#vereniging').change(setIt);


