block title
  = t('reset.header')

extends layout

block content
  section.main.style1
    .container
      .row(class='0%')
        .u6.center(class='12u$(medium)')
          h2= t('reset.header')

          form(method='POST')
            legend(hidden)= t('reset.header')
            .form-group
              label(for='password')= t('fields.newpassword')
              input.form-control(type='password', name='password', value='', autofocus=true)
            .form-group
              label(for='confirm')= t('fields.confirmpassword')
              input.form-control(type='password', name='confirm', value='')

              button.button.special(type='submit')= t('reset.resetBtn')
