extends layout
block content
  for table in tables
    hr
    table.table
      caption=table.name
      thead
        tr
          th Voornaam
          th Achternaam
          th Email
          th Bus
      tbody
        for row in table.rows
          tr
            td=row.firstname
            td=row.surname
            td=row.email 
            td=row.bus
          
