extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        - count = 0
        - countAanwezig = 0
        - for table in tables
          - for row in table.rows
            - count++
            if row.aanwezig
              countAanwezig++
        h2= 'Aanwezigheidslijst'
          small= '(' + count + ' ingeschreven, ' + countAanwezig + ' aanwezig)' 

        for table in tables
          - count = 0
          - countAanwezig = 0
          - for row in table.rows
            - count++
            if row.aanwezig
              countAanwezig++
          table.table
            caption= verenigingen[table.name].name
              small= '(' + count + ' ingeschreven, ' + countAanwezig + ' aanwezig)'
            thead
              tr
                th Voornaam
                th Achternaam
                th Email
                th Bus
                th Aanwezig
            tbody
              for row in table.rows
                tr
                  td=row.firstname
                  td=row.surname
                  td=row.email 
                  td
                    if row.bus
                      span.fa.fa-check(style='color:#79bf46;')
                    else
                      span.fa.fa-close(style='color:#bf464c;')
                  td
                    if row.aanwezig
                      span.fa.fa-check(style='color:#79bf46;')
                    else
                      span.fa.fa-close(style='color:#bf464c;')

          
