extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        - count = 0
        - for table in tables
          for row in table.rows
            - count++
        h2= 'Aanwezigheidslijst (' + count + ')' 

        for table in tables
          table.table
            caption=verenigingen[table.name].name + ' (' + table.rows.length + ')'
            thead
              tr
                th Voornaam
                th Achternaam
                th Email
                th Bus
            tbody
              for row in table.rows
                tr
                  td=row.firstname
                  td=row.surname
                  td=row.email 
                  td
                    if row.bus
                      span.fa.fa-check(style='color:#79bf46;')
                    else
                      span.fa.fa-close(style='color:#bf464c;')

          
