extends layout

mixin dropdown(speaker, user, session, visitorCounts)
  - var description = speaker.company === '' ? '' : ' (' + speaker.company + ') '
  - description = description + ' - ' + speaker.subject.replace(" \</br\>", ":")
  - var remaining = speaker.limit - visitorCounts.filter(candidate => speaker.id == candidate.id)[0].count
  if remaining > 0 || user[session] == speakerid
    if remaining < 25
      - description = description + ' (' + remaining + ' seats left)'
    option(value=speaker.id, selected=user[session] == speaker.id ? 'selected' : undefine)= speaker.name.replace("</br>", "&") + description
  else
    - description = description + ' (FULL)'
    option(disabled value=speaker.id, selected=user[session] == speaker.id ? 'selected' : undefine)= speaker.name.replace("</br>", "&") + description

block above-content

block header
  header.text
    h2 Profile

block content
  section.profile
    h2= ucfirst(user.firstname) + ' ' + user.surname +' ('+ verenigingen[user.vereniging].name +')'

    br(clear='all')
    h4 Congress
    hr
    form.form.form-profile#settings(method='post')
      p.text-center
        | Download your ticket #[a(href='/ticket', target='_blank') here].
        | Please bring it along to the conference on your phone or in print.

      if user.type == 'partner'
        p.text-center Partners don't have to enroll for sessions, but you are welcome to join in if there are seats left.
      else
        if providePreferences
          .form-group
            label(for='session1') Preference talk in first parallel session
            div.select-wrapper
              select.form-control(name='session1')
                option(value='', selected=!user.session1?'selected':undefined) No preference
                each val in speakerids.session1
                  - var speaker = speakers.filter(function(doc){return doc.id == val})[0]
                  +dropdown(speaker, user, 'session1', visitorCounts)

          .form-group
            label(for='session2') Preference talk in second parallel session
            div.select-wrapper
              select.form-control(name='session2')
                option(value='', selected) No preference
                each val in speakerids.session2
                  - var speaker = speakers.filter(function(doc){return doc.id == val})[0]
                  +dropdown(speaker, user, 'session2', visitorCounts)

          .form-group
            label(for='session3') Preference talk in third parallel session
            div.select-wrapper
              select.form-control(name='session3')
                option(value='', selected) No preference
                each val in speakerids.session3
                  - var speaker = speakers.filter(function(doc){return doc.id == val})[0]
                  +dropdown(speaker, user, 'session3', visitorCounts)
        else
          p.text-center You can enroll for sessions on a later date.
      br
      if user.type == 'student'
        h4 Companies
        hr
        .form-group
          p
            | To allow you to connect better with companies, we introduce a new badge scanning system
            | which allows you to share your name, email address, and study programme. You can share this
            | information with a company by letting them scan your badge.
            | However, we only share this information with your permission.
          br

          .checkbox
            label(for='allowBadgeScanning')
              input#allowBadgeScanning(type='checkbox', name='allowBadgeScanning', checked=user.allowBadgeScanning? "checked": undefined)
              | Allow my badge to be scanned by companies

          p
              | To allow students to get to know companies better, we offer several
              | speed dating sessions with the participating companies. When you sign up for speed dating,
              | you will get private conversation of around 10 minutes with each participating company.
              | There are 6 participating companies in total.

          if spTimeSlot
            p You are signed up for speed dating in timeslot: #[b=spTimeSlot.name]
          else if allSpTimeSlots.length > 0
            if freeSpTimeSlots.length > 0
              p
                | You can sign up for speed dating by choosing a timeslot below and
                | pressing the 'Save settings' button.
              br
              label(for='speedDateTimeSlot') Select speed date timeslot:
              .select-wrapper
                select.form-control(id='speedDateTimeSlot', name='speedDateTimeSlot')
                  option(value='', selected) Select...
                  for ts in freeSpTimeSlots
                    option(value=ts.id)=ts.name
            else
              p
                b Unfortunately, there are no more free speed date timeslots.
          else
            p You can select the timeslots for speed dating on a later date.


        if userHasBus
          h4 Bus
          hr
          p
            | For some study associations which are further away from the location,
            | we offer a bus which will bring you to the location and back to your city after the conference.
          br
          .checkbox
            label(for='bus')
              input#bus(type='checkbox',name='bus',checked=user.bus?'checked':undefined)
              | I would like to use the arranged bus at my study association

      h4 Diets
      hr
      .form-group
        .checkbox
          label(for='vegetarian')
            input#vegetarian(type='checkbox',name='vegetarian', checked=user.vegetarian? "checked": undefined)
            | I am a vegetarian

      .form-group
        label(for='specialNeeds') Other remarks (e.g. allergies)
        input.form-control(type='text', name="specialNeeds", value=user.specialNeeds)

      hr
      button.button.special(type='submit') Save settings


