extends layout
block content
  section.main.style1
    .container
      .row(class='0%')
        h2= t('programme.header')
        table.table
          thead
            tr
              th= t('programme.table.time')
              th= t('programme.table.col1')
              th= t('programme.table.col2')
          tbody
            tr
              td 10.30
              td(colspan='2')= t('programme.welcome')
            tr
              td 11.30
              td(colspan='2')= t('programme.opening')
            tr
              td 11.45
              td(colspan='2')
                != t('programme.talk.first', {postProcess: 'jade'})
                //-a(href='/speakers/douwe') Team Human
            tr
              td 12.45
              td
                != t('programme.talk.second1', {postProcess: 'jade'})
                //-a(href='/speakers/eric') Polymorfe Pseudonimisering: een basis voor een derde generatie eID-stelsel? 
              td
                != t('programme.talk.second2', {postProcess: 'jade'})
                //-a(href='/speakers/thomas') Beveiliging persoonsgegevens bij het PEBKAC-beveiligingsgat
            tr
              td 13.30
              td(colspan='2')= t('programme.lunch')
            tr
              td 14.30
              td
                != t('programme.talk.third1', {postProcess: 'jade'})
                //-a(href='/speakers/arpa2') Terug naar de tekentafel: ARPA2.net
              td
                != t('programme.talk.third2', {postProcess: 'jade'})
                //-i SBox, tor-enabled wifi router
            tr
              td 15.30
              td
                != t('programme.talk.fourth1', {postProcess: 'jade'})
                //-a(href='/speakers/johan') Online video streaming met anonimiteit
              td
                != t('programme.talk.fourth2', {postProcess: 'jade'})
                //-a(href='/speakers/roel') Rabobank en Cryptocurrencies, met open vizier?
            tr
              td 16:30
              td(colspan='2')
                != t('programme.talk.end', {postProcess: 'jade'})
                //-a(href='/speakers/guido') Talk over het EPD
            tr
              td 17.15
              td(colspan='2')= t('programme.closing')
            tr
              td 17.30
              td(colspan='2')= t('programme.drinks')
            tr
              td 18.30
              td(colspan='2')= t('programme.dinner')
            tr
              td 20.00
              td(colspan='2')= t('programme.end')
