extends ../layout

mixin goldpartner(partner)
  .box
    a(href=partner.image.link, target='_blank')
      img(src=partner.image.src)
  p= partner.promo
    if partner.profile
      a.white(href=partner.profile.link) 
        strong= partner.profile.text

mixin partner(partner)
  .box
    a(href=partner.link, target='_blank')
      img(src=partner.src)

block header
 header.hero.partners
      h2 Partners
      .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 "Making it possible"
      .separator(role='separator')
      p
        | We are proud to present to you our partners for this years' SingularIT conference. Without their generous efforts, it would have been impossible to organize.
  section#platinum.slanted.background-snic
    .content.container
      .row
        .twelve.colunms
          h2 Platinum partner
          .separator(role='separator')
          .box.nedap
            a(href='https://quintor.nl', target='_blank')
              img(src='/images/bedrijven/Logo_Quintor.png')
          p This year, Quintor is SNiC's principal sponsor. With four offices spread around the whole country, their secret to success is to work in teams, employing the best people. 
            a.white(href='/partners/quintor') 
              strong Check out the company profile.
  section#gold.slanted.background-gold
    .content.container
      - partners.gold = partners.gold.sort(function() { return 0.5 - Math.random() });
      .row
        .twelve.colunms
          h2 Gold partners
          .separator(role='separator')
      .row
        .offset-by-two.four.columns
          +goldpartner(partners.gold[0])
        .four.columns
          +goldpartner(partners.gold[1])
      .row
        .offset-by-two.four.columns
          +goldpartner(partners.gold[2])
        .offset-by-two.four.columns
          +goldpartner(partners.gold[3])


  section#silver.slanted.background-silver
    - partners.silver = partners.silver.sort(function() { return 0.5 - Math.random() });
    .content.container
      .row
        .twelve.colunms
          h2 Silver partners
          .separator(role='separator')
      .row
        .four.columns
          +partner(partners.silver[0])
        .four.columns
          +partner(partners.silver[1])
        .four.columns
          +partner(partners.silver[2])
      .row
        .four.columns
          +partner(partners.silver[3])
        .four.columns
          +partner(partners.silver[4])
        .four.columns
          +partner(partners.silver[5])
  section#other.slanted
    - partners.bronze = partners.bronze.sort(function() { return 0.5 - Math.random() });
    .content.container
      .row
        .twelve.colunms
          h2 Bronze partners
          .separator(role='separator')
      .row
        .six.columns
          +partner(partners.bronze[0])
        .six.columns
          +partner(partners.bronze[1])
