extends ../layout

mixin goldpartner(partner)
  .box
    a(href=partner.image.link, target='_blank')
      img(src=partner.image.src)
  p= partner.promo
    if partner.profile
      a.white(href=partner.profile.link) 
        strong= partner.profile.text

mixin partner(partner)
  .box
    a(href=partner.link, target='_blank')
      img(src=partner.src)

block header
 header.hero.partners
      h2 Partners
      .separator(role='separator')

block content
  section.intro.slanted
    .content
      h2 "Let's disrupt together"
      .separator(role='separator')
      p
        | Since we can not organise this conference on our own we are happy to show our partners on this page. Without these partners it would have been impossible to give you this conference.
  section#platinum.slanted.background-snic
    .content.container
      .row
        .twelve.colunms
          h2 Platinum partner
          .separator(role='separator')
          .box.nedap
            a(href='https://lifeatnedap.com/', target='_blank')
              img(src='/images/bedrijven/nedap_color.png')
          p This year, Dutch tech multinational Nedap is proud to be SNiC’s main sponsor. Andre Foeken, CTO at Nedap Healthcare, is joining us at SNiC. The company employs around 800 people worldwide, 130 of which make up Nedap Healthcare. As well as empowering patients and doctors, Nedap creates interactive shopping experiences and industrial scale sustainable lighting solutions, provides security for major landmarks, helps farmers take care of their livestock, and even finds you a place to park your car. 
            a.white(href='/partners/nedap') 
              strong Check out the company profile.
  section#gold.slanted.background-gold
    .content.container
      - partners.gold = partners.gold.sort(function() { return 0.5 - Math.random() });
      .row
        .twelve.colunms
          h2 Gold partners
          .separator(role='separator')
      .row
        .offset-by-two.four.columns
          +goldpartner(partners.gold[0])
        .four.columns
          +goldpartner(partners.gold[1])
      .row
        .offset-by-four.four.columns
          +goldpartner(partners.gold[2])

  section#silver.slanted.background-silver
    - partners.silver = partners.silver.sort(function() { return 0.5 - Math.random() });
    .content.container
      .row
        .twelve.colunms
          h2 Silver partners
          .separator(role='separator')
      .row
        .four.columns
          +partner(partners.silver[0])
        .four.columns
          +partner(partners.silver[1])
        .four.columns
          +partner(partners.silver[2])
      .row
        .four.columns
          +partner(partners.silver[3])
        .four.columns
          +partner(partners.silver[4])
        .four.columns
          +partner(partners.silver[5])
      .row
        .offset-by-four.four.columns
          +partner(partners.silver[6])
  section#other.slanted
    - partners.bronze = partners.bronze.sort(function() { return 0.5 - Math.random() });
    .content.container
      .row
        .twelve.colunms
          h2 Bronze partners
          .separator(role='separator')
      .row
        .four.columns
          +partner(partners.bronze[0])
        .four.columns
          +partner(partners.bronze[1])
        .four.columns
          +partner(partners.bronze[2])
