extends ../layout
block content
  a(href='/users') Terug
  form(method='POST')

    table.table
      thead
          th Voornaam
          th Achternaam
          th Email
          th Ticket
          th Vereniging
          th Aanwezig
      tbody
        tr
          td=user.firstname
          td=user.surname
          td=user.email 
          td=user.ticket
          td=user.vereniging
          td
            input(type='checkbox',name='aanwezig',checked=user.aanwezig?'checked':undefined)
    .form-group
      button.btn.btn-primary(type='submit') Sla op
