extends ../layout
block content
  section.main.style1
    .container
      .row(class='0%')
        .12u
          form(method='POST')

            table
              thead
                  th Voornaam
                  th Achternaam
                  th Email
                  th Ticket
                  th Vereniging
                  th Aanwezig
              tbody
                tr
                  td=user.firstname
                  td=user.surname
                  td=user.email 
                  td=user.ticket
                  td=verenigingen[user.vereniging].name
                  td
                    input#aanwezig(type='checkbox',name='aanwezig',checked=user.aanwezig?'checked':undefined)
                    label(for='aanwezig', style='margin-top: -5px;') &nbsp;

            a.button(href='/users') Terug
            button.button.special(type='submit', style='float:right') Sla op
